@inherits LayoutComponentBase
@namespace SyncfusionAIWasmExamples.Layout
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark" style="width: 100%">
    <div class="container-fluid">
        <span id="nav-collapsible-icon" class="navbar-toggler" style="color: #fff" @onclick="ToggleSidebar"></span>
        <span style="color: #fff; padding: 0px 25px"> Syncfusion AI Samples </span>
    </div>
</div>

<div class="main-container" style="display: flex">
    <div class="sidebar @(isSidebarCollapsed ? "collapsed" : "")" >
        <div class="nav-scrollable">
            <nav class="flex-column">
                @foreach (var item in sampleList)
                {
                    <div class="nav-item px-2">
                        @if (item.SubMenu.Count == 0)
                        {
                            <NavLink class="nav-link" href="@item.Href" Match="NavLinkMatch.All">
                                <strong> <span aria-hidden="true"></span> @item.Text </strong>
                            </NavLink>
                        }
                        else
                        {
                            <div class="nav-link">
                                <strong> <span aria-hidden="true"></span> @item.Text </strong>
                            </div>
                        }
                        @if (item.SubMenu.Any())
                        {
                            <nav class="flex-column">
                                @foreach (var subItem in item.SubMenu)
                                {
                                    <div class="nav-item px-2">
                                        <NavLink class="nav-link sub-menu" href="@subItem.Href" Match="NavLinkMatch.All">
                                            @subItem.Text
                                        </NavLink>
                                    </div>
                                }
                            </nav>
                        }
                    </div>
                }
            </nav>
        </div>
    </div>

    <div class="main-content">
        @Body
    </div>
</div>
@code {
    private bool isSidebarCollapsed = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("scrollToActiveMenu");
    }

    private void ToggleSidebar()
    {
        isSidebarCollapsed = !isSidebarCollapsed;
        StateHasChanged();
    }
}

<script>
    function scrollToActiveMenu() {
        var activeItem = document.querySelector('.nav-link.active');
        if (activeItem) {
            activeItem.scrollIntoView({ behavior: 'smooth', block: 'center', inline: "nearest" });
        }
    }
</script>