@page "/document-editor/smart-writer"

@using Syncfusion.Blazor.DocumentEditor;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Spinner
@using System.ClientModel
@using System.Text.Json
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Navigations

@inject IJSRuntime JSRuntime

<title>Syncfusion - Smart Writer</title>

<h4 style="text-align:center;">Smart Writer</h4>
<div>
    <Description>
        <p>The Writing Assist feature in the Syncfusion Blazor Document Editor helps users generate new content based on their ideas or prompts. It integrates seamlessly into the editor, suggesting relevant text that can be directly inserted into the document, facilitating a smooth writing process.
            Know more <a target="_blank" href="https://github.com/syncfusion/smart-ai-samples/blob/master/blazor/SyncfusionAIWasmExamples/Components/Pages/DocumentEditor/Readme.md">here</a>.
        </p>
    </Description>
    <div id="target">
    <div id='documenteditor_titlebar' class="e-de-ctn-title">
        <div class="single-line" id="documenteditor_title_contentEditor" style="border: 1px solid transparent;" title="Document Name." contenteditable="false">
            <label id="documenteditor_title_name" class="doc-edit-title"> @DocumentName</label>
        </div>
        <div style="float: right">
            <SfButton IconCss="e-de-icon-Print" CssClass="title-bar-btn" @onclick="Print">Print</SfButton>
        </div>
        <div style="float: right">
            <SfButton IconCss="e-de-icon-Download" CssClass="title-bar-btn" @onclick="OnExport">Download</SfButton>
        </div>
    </div>
    <div id="documentEditorDiv" style="width:100%;float:left;height:600px">
        <SfDocumentEditorContainer Height="100%" Width="100%" @ref="container" EnableToolbar=true ToolbarItems="@Items" ShowPropertiesPane="true" DocumentEditorSettings="settings">
            <DocumentEditorContainerEvents Created="OnCreated" OnToolbarClick="@OnToolbarClick" ContextMenuItemSelected="OnContentMenuSelect"></DocumentEditorContainerEvents>
        </SfDocumentEditorContainer>
        <AIPopup PopupType="@PopupType" InputText="@EditorText" OnChange="OnInsert" />
    </div>
</div>
</div>
<style>

    .title-bar-btn, .title-bar-btn:hover, .title-bar-btn:focus {
        background: transparent;
        box-shadow: none;
        font-family: inherit;
        border-color: transparent;
        border-radius: 2px;
        color: inherit;
        font-size: 12px;
        text-transform: capitalize;
        height: 28px;
        font-weight: 400;
        margin-top: 2px;
    }

    [class^="e-de-icon-"],
    [class*=" e-de-icon-"] {
        font-family: 'Sample brower icons' !important;
    }

    .e-de-icon-Print:before {
        content: "\e723";
        font-family: 'Sample brower icons' !important;
    }

    .e-de-icon-Download:before {
        content: "\e728";
        font-family: 'Sample brower icons' !important;
    }

    .print-ctnr {
        cursor: pointer;
        margin-top: 6px;
    }

</style>
